{
  "plugins": ["prettier-plugin-sql"],
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.sql",
      "options": {
        "language": "postgresql",
        "keywordCase": "upper",
        "dataTypeCase": "upper",
        "functionCase": "lower",
        "identifierCase": "lower",
        "linesBetweenQueries": 2,
        "printWidth": 999
      }
    }
  ]
}
